.buttons {
    -fx-background-color: buttonsBgColor;
}
.labels {
    -fx-background-color: labelsBgColor;
    -fx-text-fill: textsColor;
}
.backGrounds {
    -fx-background-color: PanesBgColor;
}
#topBar {
    -fx-fill: #2E2C2C;
    -fx-stroke: #2E2C2C;
}
#searchBar {
    -fx-text-inner-color: #FFF;
    -fx-background-color: #2E2C2C;
    -fx-border-color: #FFF;
    -fx-border-radius: 15;
}
.root {
    buttonsBgColor: #000;
    labelsBgColor: #000;
    PanesBgColor: #000;
    textsColor: #FFF;
    SvgColor: #FFF;
    SvgParebts: #FFF;
}
.buttons > SVGPath {
    -fx-fill: SvgParebts;
    -fx-stroke: SvgColor;
}